*{
    margin: 0;
    padding: 0;
}
header{
    background-color: red;
}
.logo{
    width: 10%;
}
.encomendas{
    margin-left: 50px;
}
table{
    margin-left: 50px;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid black;
    width: 50%;
}
thead{
    background-color: yellow;
    color: orange;
}
th, td{
    text-align: center;
    border: 1px solid black;
    padding: 4px;
}
